.heading{
    font-size: 23px;
    width:100%;
    margin:0px;
}
.note{
    font-size: 15px;
    color:black;
}
body{
    background-size:cover;
}
#speed{
    font-size: 23px;
    margin:15px;
}
#volume{
    font-size: 23px;
    margin:15px;
}
.div_speed_img{
    border-radius: 100px;
    width:200px;
}
.div_speed{
    float:left;
}
.div_volume_img{
    border-radius: 100px;
    width:200px;
}
.div_volume{
    float:right;
}
.play_button{
    width:130px;
    font-size:23px;
}
canvas{
    border: 5px solid white;
    border-radius:20px;
}